language: node_js
dist: trusty
sudo: true
node_js:
  - '8'
  - '10'
  - '11'

addons:
  chrome: stable
  firefox: latest

install:
  - npm install

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

script:
  - npm run lint
  - npm test
  - npm run build

#after_script:
#  - npm run coveralls

email:
  on_failure: change
  on_success: never

deploy:
  provider: releases
  api_key:
    secure: nRrDJmE06RQj+C8Zalhs4d2/OQ3ERvLXGQNZa7NUxg25TFz9U+8CAMc1Z79bNSNy2OW7LiUoyL31P+EmRFGScsrh6/k7DGR+it2PqI+dw2sxA0W6KmKI5sJpK4WRfYFlAku4rTaejfMtEwdq39pK87MYESRqXy5YvJAdS8mi/htV1+nbyqclXv/uf4ti9CfZsbYUQBv+wteQwWcgb6WywnoXTrTEp/PBiOddpicYbyhgwQcLBWvUNyFy3Qf6GX45qMzOo0IQUdqsf+nD5kPYWGDJHJJjJ/CafWD7vUxcxpcnVMmx3jUAv+Zx8QulpuZSzTalJxnlJ0BQHcsdnlx4Pjx6OMIU36Wotgbp1QYnt0FuJtOZ1+wl+MUh2Lm3ZEFjLy3ijCD5lSPfN03a/rzRDjei3EcWP8bCimM/xqxoSkJNZjHVtu8lv3MDSeOl3gkKCZIPQrrZG/EPxwZXtw49FiD1m9hpxL+l5VQWiFNG4RbiFhEza7Lx7JJR9eWE832PBIViRF9w3ZgqXczUUT2+NHDckW0WUTbddYE1Rajn5YNriW3tylg6N0+pjydxPugK++O6Z28Hd+Do+kFFPreEf+JZAg6Mnv6L7YJ0b+NpC1XMRQvPckyFiiCR0I46/Qm+1IUKJmVvf/dYApRuUJ+E81GNFzIn+YYmYzmUlfeh120=
  file:
    - dist/pdf-annotate.js
    - dist/pdf-annotate.js.map
    - dist/pdf-annotate.min.js
    - dist/pdf-annotate.min.js.map
  skip_cleanup: true
  on:
    tags: true
    node: '8'
    repo: Submitty/pdf-annotate.js
